In [1]:
import pandas as pd
import csv
import os

In [2]:
data_file = "Resources/dataset.csv"

In [3]:
data_file = pd.read_csv(data_file)

In [4]:
data_file

       id  First Name Last Name Gender   Amount
0       1        Todd     Lopez      M   8067.7
1       2      Joshua     White      M   7330.1
2       3        Mary     Lewis      F  16335.0
3       4       Emily     Burns      F  12460.8
4       5   Christina    Romero      F  15271.9
..    ...         ...       ...    ...      ...
995   996       Paula      Reed      F  17868.5
996   997       Paula       Fox      F  15182.9
997   998      Thomas   Andrews      M   3720.7
998   999  Jacqueline    Moreno      F  10824.6
999  1000     Deborah     Young      F   6090.7

[1000 rows x 5 columns]