In [23]:
import pandas as pd

frame_type = pd.DataFrame(
    {"Frame": ["Ornate","Classical","Modern","Wood","Cardboard"],
    "Price": [15.00, 12.5,10.0, 5.0, 1.0],
    "Sales": [100,200,150,300,"NA"]
    })
frame_type

       Frame  Price Sales
0     Ornate   15.0   100
1  Classical   12.5   200
2     Modern   10.0   150
3       Wood    5.0   300
4  Cardboard    1.0    NA